.card-character {
    background-color: #2c2c2c;
    color: #FFF;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin: 15px;
}

.card-detail {
    padding: 10px;
}

.card-detail h2{
    font-size: .8em;
}

  
  