.header {
    height:80px;
    background-color: rgb(70, 69, 69);
    padding: 15px 250px 15px 150px;
    display: flex;
    justify-content: space-between;
}

.logo {
    color: white;
}

input {
    margin-top: 12px;
    height:50px;
    width: 200px;
}