.header {
    height:100px;
    background-color: #2c2c2c;
    padding: 15px 250px 15px 150px;
    display: flex;
    justify-content: space-between;
}

.logo {
    color: white;
}

form input {
    border: 1px solid #D8A70E;
    background-color: transparent;
    color: #FFF;
    font-size: 25px;
    margin-top: 15px;
    width: 300px;
    height: 40px;
}

form input:focus {
    box-shadow: 0 0 0 2px #D8A70E;
    outline: none;
}

@media screen and (max-width: 900px) {
    .header {
        padding: 15px 50px 15px 30px;
    }
  }

